<!-- This Source Code Form is subject to the terms of the Mozilla Public
  -- License, v. 2.0. If a copy of the MPL was not distributed with this
  -- file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<article>
  <header>
    <h2>
      <a href='@|uri-path|'>
        @|title|
      </a>
    </h2>
    <p class='date-and-tags'>
      @|date| :: @|tags|
    </p>
    <p class='authors'>
      By: @|authors|
    </p>
  </header>

  @|content-only|

  @(when more?
    @list{<footer>
            <a href='@|uri-path|'>&hellip; more &hellip;</a>
          </footer>})
</article>
