<!-- This Source Code Form is subject to the terms of the Mozilla Public
  -- License, v. 2.0. If a copy of the MPL was not distributed with this
  -- file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->


<article>
  <header>
    <h1>
      @|title|
    </h1>
    <p class='date-and-tags'>
      @|date| :: @|tags|
    </p>
    <p class='authors'>
      By: @|authors|
    </p>
  </header>

  @|content|

  <footer>
    <p>
      <span style="font-size: 1.75rem;">Share:</span>
      <a class="btn btn-outline-primary"
         href="https://twitter.com/intent/tweet?text=@|title|%20@|full-uri|"
         title="Share this post via Twitter">
        <i class="fab fa-twitter"></i>
        Tweet
      </a>
      <a class="btn btn-outline-primary"
         href="https://www.linkedin.com/shareArticle?url=@|full-uri|&title=@|title|&source=@|full-uri|"
         title="Share this post via LinkedIn">
        <i class="fab fa-linkedin"></i>
        LinkIn
      </a>
      <a class="btn btn-outline-primary"
         href="mailto:?subject=@|title|&amp;body=@|full-uri|"
         title="Share this post via e-mail">
        <i class="fa fa-envelope-square"></i>
        Email
      </a>
    </p>
    @older/newer-links[older-uri older-title newer-uri newer-title #:for-bs 4]
  </footer>
</article>
